.container {
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #001b21, #01171b, #001316, #000e10, #000708);
    padding: 2rem 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shape_container {
    margin-top: 8rem;
    display: flex;
    gap: 1.5rem;
    height: 35vh;
    position: relative;
}

.container_50 {
    width: 56%;
    display: flex;
    flex-direction: column;
}

.container_25 {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_left {
    align-items: flex-start;
}

.circle_projects {
    height: 64%;
    border-radius: 250px;
    background: conic-gradient(from 90deg at 50% 50%, rgba(222,208,40,1), rgba(222,4,172,1));
}

.circle_about {
    background-image: linear-gradient(to left bottom, #ffadad, #ec8994, #d7657f, #c03e6e, #a70060);
    height: 100%;
    border-radius: 25px;
}

.circle_decoration {
    border: 1px solid #FFEB3B;
    width: 100%;
    border-radius: 40px;
    flex-grow: 1;
    margin-bottom: 0.7rem;
    max-height: 52px;
    transform-origin: left;
    animation: decorCircle 5s infinite;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

.circle_resume {
    width: 100%;
    padding-top: 100%;
    background: conic-gradient(from 270deg at 50% 50%, rgba(110,238,255,1), rgba(255,255,128,1));
    border-radius: 50%;
}


.heading_container {
    position: absolute;
    bottom: 4px;
    left: 0px;
    color: #fff;
    font-family: VIOLA, sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.65rem;
    text-shadow: 5px -2px #ffadad50;
}

.paragraph_container {
    margin-top: 4rem;
    width: 80%;
}

.description {
    color: white;
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin: 1.1rem 0rem;
}

@keyframes decorCircle {
    0% {
        transform: scaleX(1);
        border-radius: 40px;
        width: 100%;
        background-color: rgba(255, 235, 59, 0);
        transform-origin: center;
    }
    30% {
        transform: scaleX(0.3);
        background-color: rgba(255, 235, 59, 255);
        border-radius: 5px;
        transform-origin: left;
    }
    60% {
        transform: scaleX(0.3);
        background-color: rgba(110, 238, 255, 255);
        border-radius: 5px;
        transform-origin: right;
    }
    85% {
        transform: scaleX(1);
        border-radius: 40px;
        background-color: rgba(255, 235, 59, 0);
        border-color: rgba(222, 4, 172, 255);
        transform-origin: center;
    }
    100% {
        transform: scaleX(1);
        border-radius: 40px;
        background-color: rgba(255, 235, 59, 0);
        transform-origin: center;
    }
  }


